
  .home {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    height: 100%;
    padding-left: 13px;
    
  }
  
  .home-content {
    display: flex;
    justify-content: space-between;  
    width: 100%;
  }